[submodule "quotes-service"]
	path = quotes-service
	url = https://github.com/pivotal-bank/quotes-service.git
[submodule "accounts-service"]
	path = accounts-service
	url = https://github.com/pivotal-bank/accounts-service
[submodule "portfolio-service"]
	path = portfolio-service
	url = https://github.com/pivotal-bank/portfolio-service.git
[submodule "web-ui"]
	path = web-ui
	url = https://github.com/pivotal-bank/web-ui.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/pivotal-bank/scripts
[submodule "user-service"]
	path = user-service
	url = https://github.com/pivotal-bank/user-service
[submodule "cf-SpringBootTrader-config"]
	path = cf-SpringBootTrader-config
	url = https://github.com/dpinto-pivotal/cf-SpringBootTrader-config
