protocol: https
uaa_path: /
uaa_domain: fill-me-in
username: fill-me-in
password: fill-me-in
client_id: fill-me-in
client_secret: fill-me-in
redirect_uri: fill-me-in
uaa_port: 443
uaa_token_path: /oauth/token
uaa_login_path: /login.do
uaa_logout_path: /logout.do
uaa_authorize_path: /oauth/authorize
web_ui_protocol: https
web_ui_port: 443
web_ui_domain: fill-me-in
web_ui_oauth_authorization_path: fill-me-in
web_ui_oauth2_login_path: fill-me-in

cf-api: fill-me-in
cf-username: fill-me-in
cf-password: fill-me-in
cf-org: fill-me-in
cf-space: fill-me-in

git-repo: https://github.com/simonrowe-pivotal/cf-SpringBootTrader.git
git-branch: master


newrelic_apm_id: xxxxx
newrelic_insights_insert_key: yyyyyyyyy